*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:auto;
	margin:auto;
  font-family: 'Roboto', sans-serif;
	font-size:16px;
	line-height:normal;
	letter-spacing: 0;
	padding-top: 60px;
	background:#F0F4F7;
	color:#E2E2E2;
}
input{
  box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
  border-radius: 5px;
  border: 1px solid #DDE1E9;
  color:#384B64;
  height: 36px;
}
::-webkit-input-placeholder {
    color:    #8493A7;
}
:-moz-placeholder {
   color:    #8493A7;
   opacity:  1;
}
::-moz-placeholder {
   color:    #8493A7;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #8493A7;
}
.sub-header {
  	padding-bottom: 10px;
  	border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  	border: 0;
}
.navbar-inverse {
   background-color: #283649;
}
.navbar-inverse .navbar-nav>li>a{
	color:#E2E2E2;
	position:relative;
}
.navbar-inverse .navbar-nav>li>a span{
    position: absolute;
    font-size: 50%;
    top: 10px;
    color:#fff;
    background-color: #857AFF;
    right: 0;
    line-height: 1;
    padding: 2px 3px;
    border-radius: 5px;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus{
	color: #fff;
	border-bottom:2px solid #857AFF;
}

.navbar-brand{
	padding:10px 15px;
}
.navbar-brand img{
    max-height: 100%;
    display: inline;
    vertical-align: middle;
}
.navbar-nav .user {
    padding: 20px 15px;
}
.navbar-nav .user span.user-name{
    float: left;
    vertical-align: middle;
    font-size: 100%;
}
.navbar-nav .user .user-pic {
    width: 25px;
    height: 25px;
    float: left;
    vertical-align: middle;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.navbar-nav .user .user-pic img {
    max-width: 100%;
    vertical-align: middle;
}
.badge {
    background-color: #857AFF;
    border: 2px solid #283649;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: -7px;
    right: -10px;
    padding: 2px 4px;
    font-size:50%;
}
/*sidebar*/
.sidebar {
  	display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top:40px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    border-right: 0px solid #eee;
  }
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-fluid>.navbar-header{
  	padding:5px 0;
    position: relative;
    left: 5px;
  }
  form.nav-sidebar input {
    width: calc(100% - 26px) !important;
    border: 0px solid #000;
  }
  .navbar-header{
	width:15%;
	float:left;
}
}

/* Sidebar navigation */
.nav-sidebar {
  	margin-right: auto; /* 20px padding + 1px border */
  	margin-bottom: 20px;
  	margin-left: 0px;
}
.nav-sidebar > li > a {
  	padding-right: 20px;
  	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  	color: #fff;
  	background-color: #428bca;
}
.nav-sidebar.box{
    background-color: #fff;
    padding: 10px;
    color:  #E2E2E2;
    border-radius: 5px;
    border:1px solid #ccc;
}
.nav-sidebar.box span{
	vertical-align: middle;
}
.nav-sidebar.box .icon{
    width: 20px;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
    position: relative;
    top:-2px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 5px 0px;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
    letter-spacing: -0.57px;
}
.list-group-item.list-head{
	color:#384B64;
	padding: 10px 0px;
}
.list-group-item i.fa-caret-down{
	right:0;
	position:absolute;
}
.list-group-item label {
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
    color: #8493A7;
}
.list-group-item label input {
    position: absolute;
    z-index: 99;
    opacity: 0;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    left:0;
}
.list-group-item label.active img{
  content: url("../images/checkbox.png");
}
.list-group-item label img {
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    top: -2px;
    background-color:#fff;
    margin-right:10px;
    cursor:pointer;
    box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
    border-radius: 5px;
    border: 1px solid #DDE1E9;
}
/*.list-group-item label input[type="checkbox"]:before {
    content:url("../images/emptycheckbox.png");
    display: block;
    width: 16px;
    height: 16px;
    opacity: 1;
    position: absolute;
    object-fit: fill;
    object-position: center;
    background-color: #fff;
    top: -14px;
    left:0;
    background-image:src("../images/emptycheckbox.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}
.list-group-item label input[type="checkbox"]:checked:before {
    background-image:src("../images/checkbox.png");
    content:url("../images/checkbox.png");
}*/
form.nav-sidebar{
    padding: 3px 0;
    background: #fff;
}
form.nav-sidebar span.icon{
    margin: auto 0px auto 10px;
    float: left;
    vertical-align: middle;
    position: relative;
    top: 5px;
}
form.nav-sidebar{
  position:relative;
}
form.nav-sidebar input {
    width: calc(100% - 26px);
    border: 0px solid #000;
    -webkit-box-shadow: inset 0 0px 0px #000;
    box-shadow: inset 0 0px 0px #000;
    color: #8493A7;
    font-size: 15px;
    padding: 6px 5px;
}
.nav-sidebar.date input {
    opacity: 0;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    width: 100% !important;
    left: 0;
}
.nav-sidebar.date span.op {
    display: inline-block;
    width: calc(100% - 36px);
    position: relative;
    color: #8493A7;
    font-size: 15px;
    padding: 7px 5px;
}
.form-control:focus,
input:focus {
    border-color: transparent;
    outline: 0;
    outline-offset:none;
    -webkit-box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
    box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
}
.nav-sidebar.export{
    background-color: transparent;
    border: 0px solid transparent;
    font-size: 15px;
    color: #8493A7;
    position: absolute;
    bottom: 5%;
}
.nav-sidebar.export a{
  padding:0;
  color:inherit;
}
.nav-sidebar.export a:hover{
  text-decoration:underline;
  background-color:#F0F4F7;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover{
	background-color:transparent;
	font-weight:900;
  color:#384B64;
}
.card {
    box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
    border-radius: 5px;
    border: 1px solid #DDE1E9;
}
.main {
  	padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top:48px;
  }
  .control-group div.form-group{
    padding:10px 5px;
    border: 1px solid transparent;
    border-left: 0 solid #000;
    border-right: 0 solid#000;
  }
}
.main .page-header {
  	margin-top: 0;
}
.placeholders {
  	margin-bottom: 30px;
  	text-align: center;
}
.placeholders h4 {
  	margin-bottom: 0;
}
.placeholder {
  	margin-bottom: 20px;
}
.placeholder img {
  	display: inline-block;
  	border-radius: 50%;
}
.table {
    box-shadow: 0px 0px 1px #999;
    border-radius: 5px;
    color: #8493A7;
}
.table tbody tr td:nth-child(2){
    color: #384B64;
}
.table tbody tr{
  cursor:pointer ;
}
.table thead th{
  position:relative;
}
.table thead th i.fa {
    font-size: 16px;
    position: absolute;
    vertical-align: middle;
    margin-left: 3px;
    line-height: 1;
    top: 8px;
    cursor: pointer;
}
.table thead th .fa:nth-child(2){
  top:11px;
}
.table thead th:first-child{
  border-radius:5px 0px 0px 0px;
}
.table thead th:last-child{
  border-radius:0px 5px 0px 0px;
}
.table tbody tr:last-child td:first-child{
  border-radius:0px 0px 0px 5px;
}
.table tbody tr:last-child td:last-child{
  border-radius:0px 0px 5px 0px;
}
.table thead th,
.table tbody td {
    text-align: center;
    font-size: 14px;
    /*white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
}
.addItem {
    padding: 15px;
    background-color: #fff;
    color:#857AFF;
    font-size: 16px;
    margin-bottom:20px;
}
.addItem span.ico,
.inputCard span.ico {
    position: absolute;
    right: 10px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 1.05;
    font-size: 30px;
    cursor:pointer;
    background-color:#fff;
}
.addItem span.ico{
  top:8px;
}
.inputCard span.ico {
    top: 10px;
    right: -5px;
    font-size: 50px;
    font-weight: lighter;
    line-height: 28px;
}
.table thead th:nth-child(2),
.table tbody td:nth-child(2){
  text-align:left;
}
thead.thead-inverse {
    background-color: #DDE1E9;
    color: #8493A7;
}
.table tbody{
  background-color:#fff;
}
.table .inputCard{
  display:inline-block;
}
.inputCard {
    width:100%;
    display: inline-block;
    margin-bottom: 20px;
    display: none;
    color: #8493A7;
}
.inputCard .control-group input {
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
    border-radius: 5px;
    border: 1px solid #DDE1E9;
    font-size: 15px;
}
.inputCard .control-group .form-group:nth-child(2) input,
.inputCard .control-group .form-group:nth-child(3) input{
  width:100px;
  width:56%;
}
.inputCard .control-group .form-group:nth-child(3) input{
  width:72%;
}
.inputCard .control-group .form-group:nth-child(1) input{
  width:105px;
  width:75%;
}
.inputCard .control-group .form-group:last-child p{
    margin: 6px auto;
    vertical-align: middle;
    text-align: right;
}
.inputCard .control-group .form-group:last-child p i {
    margin-right: -5px;
    background-color: #fff;
}
.inputCard .control-group .form-group{
  text-align:left;
}
.inputCard .control-group .form-group:nth-child(5){
  padding:10px 0;
}
.inputCard .control-group label {
    width: auto;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    margin: auto 5px auto auto;
    color: #8493A7;
}
.inputCard .control-group ul.lock-group li{
    width: 36px;
    height: 36px;
    background-image: url("../images/ico-unlock.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    list-style: none;
    display: inline-block;
    margin: auto 0;
    float: left;
    background-color:#DFE5E8;
    filter:grayscale(100%);
    cursor:pointer;
}
.inputCard .control-group ul.lock-group li:first-child{
    background-image: url("../images/ico-lock.png");
    border-radius:5px 0 0 5px;
}
.inputCard .control-group ul.lock-group li:last-child{
    border-radius:0 5px 5px 0;
}
.inputCard .control-group ul.lock-group li.active,
.inputCard .control-group ul.lock-group li:hover,
.inputCard .control-group ul.lock-group li:focus{
    filter:grayscale(0%);
    background-color:#fff;
    box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
    border-radius:5px;
    border: 1px solid #e5e5e5;
}
ul.lock-group {
    /*background-color: #DFE5E8;*/
    display: inline-block;
    border-radius: 5px;
    margin: auto;
}
.inputCard .control-group ul.severity-group li {
    width: 36px;
    height: 36px;
    list-style: none;
    display: inline-block;
    margin: auto 0;
    float: left;
    object-fit: cover;
    object-position: center;
    text-align: center;
    cursor:pointer;
}
.inputCard .control-group ul.severity-group li img {
    vertical-align: middle;
    max-width: 100%;
    text-align: center;
    position: relative;
    top: 5px;
}
.inputCard .control-group ul.severity-group li.active,
.inputCard .control-group ul.severity-group li:hover,
.inputCard .control-group ul.severity-group li:focus{
    background-color:#fff;
    box-shadow:1px solid #999;
    border-radius:5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px 0 rgba(211,215,217,0.52);
}
.inputCard-top ul {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}
.inputCard-middle{
  background-color:#fff;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  position:relative;
}
.inputCard-middle input{
    width: 100%;
    border: 0 solid #000;
    padding: 15px 5px;
    min-height: 85px;
    padding-bottom:20px;
}
.inputCard-middle textarea{
    width: 100%;
    border: 0 solid #000;
    min-height: 60px;
    overflow: auto;
    padding: 0 5px;
    margin:20px auto;
    resize:none;
}
.inputCard-middle span.check input {
    width: 16px;
    height: 16px;
    position: absolute;
    padding: 0;
    min-height: auto;
    margin: auto;
    opacity: 0;
    vertical-align: middle;
    z-index: 999;
}
.inputCard-middle span.check img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.inputCard-middle .check.active img {
    content: url("../images/checkbox.png");
}
.inputCard-middle textarea:focus{
    outline:0;
}
.inputCard-middle span{
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    right: 15px;
}
.table-outer .inputCard-middle span:first-of-type{
    left: 20px;
    right: auto;
}
.inputCard-bottom ul {
    margin-bottom: 0;
    padding: 15px 0;
}
.inputCard-bottom ul li {
    list-style: none;
    margin: auto;
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #8493A7;
}
.inputCard-bottom ul li:first-child{
  padding-left:0;
}
.inputCard-bottom ul li:last-child{
  padding-right:0;
}
.inputCard-bottom ul li:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position:relative;
}
.inputCard-bottom ul li span {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -4px;
}
.inputCard-bottom ul li input{
    padding: 0;
    height: auto;
    background: transparent;
    outline: none;
    border: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
    width: 100px;
}
.inputCard-bottom ul li:nth-child(2) input{
    position: absolute;
    width: calc(100% - 40px);
    top: 0;
    height: 100%;
    left: 20px;
    opacity: 0;
    /*cursor: pointer;*/
}
.inputCard-bottom ul li:last-child button {
    font-size: 10.5px;
    border: 0px solid #000;
    padding: 0 10px;
    top: -2px;
    position: relative;
    margin-right: 5px;
    height: 20px;
    background-color:#22b7f7;
}
/*.inputCard-bottom ul li:last-child button:last-child{
    background-color:#22b7f7;
}*/
.inputCard-bottom .btns button {
    border: 0;
    background-color: transparent;
    float: right;
    padding: 15px 0;
    right:-31px;
}
.inputCard-bottom .btns button:first-child{
    background-image: linear-gradient(-180deg, #857AFF 0%, #6B60E1 98%);
    border:1px solid #453CA4;
    color:#fff;
}
.inputCard-bottom .btns button:last-child {
    border: 1px solid transparent;
    border-left: 1px solid #ccc;
    color: #8493A7;
}
.table-outer .inputCard-bottom .btns button:last-child{
    border-left: 0 solid #000;
    text-align: right;
    padding-right: 20px;
}
.inputCard-bottom .btns button:hover{
  opacity:0.95;
}
.table-outer{
  position:relative;
  display:inline-block;
  width:100%;
  margin:auto;
}
.table-outer .inputCard-modal {
  position: absolute;
  top: 57%;
  background-color:#F0F4F7;
  z-index: 99999;
  width:100%;
}
.table-outer .inputCard{
  position:relative;
  margin-bottom:-4px;
  display:none;
  width:100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
}
@media (max-width: 768px) {
  .inputCard .control-group .form-group input{
    width:auto;
  }
  .inputCard .control-group .form-group {
    margin-top:10px;
  }
  .inputCard .control-group .form-group:nth-child(5) {
    text-align: left;
  }
  .inputCard-bottom .btns button{
    padding:10px;
  }
  .inputCard-bottom .btns button:last-child {
    border-top: 1px solid #ccc;
  }
  .navbar-inverse .navbar-nav>li>a span {
    position: relative;
    top: auto;
    right: auto;
    vertical-align: middle;
    margin: 5px;
  }
}
.datepicker{
  background-color: #233447;
  text-align: center;
}

.datepicker table th.dow{
  color:#857AFF;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
    background-color: #857AFF;
    background-image:none;
}
.datepicker td.day:hover {
    background: #857AFF;
    cursor: pointer;
}
.datepicker td.old:hover,
.datepicker td.new:hover{
  background:transparent;
}